{% extends 'booking/base.html' %}
{% load static %}


{% block content %}
    <!-- Breadcrumb Section Begin -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>О нас</h2>
                        <div class="bt-option">
                            <a href="{% url 'home' %}">Главная</a>
                            <span>Тренеры</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

    <!-- About Us Page Section Begin -->
    {% for i in coach %}
    <section class="aboutus-page-section spad">
        <div class="container">
            <div class="about-page-text">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="ap-title">
                            <h2>{{ i.surname }} {{ i.name }}</h2>
                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1">
                        <ul class="ap-services">
                            <li> Достижения:</li>
                            <li> {{ i.achievements }}</li>
                            <li> Стаж работы:</li>
                            <li> {{ i.details }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="about-page-services">
                <div class="row">
                    <div class="col-md-4">
                        {% if i.photo %}
                        <div class="ap-service-item set-bg" data-setbg="{{ i.photo.url }}">
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endfor %}
    <!-- About Us Page Section End -->


{% endblock %}