{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sona Template">
    <meta name="keywords" content="Sona, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dirigabl</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'booking/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'booking/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'booking/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'booking/css/flaticon.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'booking/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'booking/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'booking/css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'booking/css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'booking/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'booking/css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="top-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="tn-left">
                            <li><i class="fa fa-phone"></i> +7 (913) 145 8642</li>
                            <li><i class="fa fa-envelope"></i> contacts@mail.com</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <div class="tn-right">
                            <a href="{% url 'booking' date=time %}" class="bk-btn">Забронировать</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="{% url 'home' %}">
                                <img src="{% static 'booking/images/img.png' %}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="nav-menu">
                            <nav class="mainmenu">
                                <ul>
                                    <!-- У li есть класс active для выделения на потом -->
                                    <li><a href="{% url 'home' %}">Главная</a></li>
                                    <li><a href="{% url 'about' %}">Тренеры</a></li>
                                    <li><a href="{% url 'contact' %}">Контакты</a></li>
                                    <li><a href="#">Личный кабинет</a>
                                        <ul class="dropdown">
                                            {% if request.user.is_authenticated %}
                                            <li><a href="{% url 'profile' username=user.username %}">{{ user.username }}</a></li>
                                            <li><a href="{% url 'logout' %}">Выход</a></li>
                                            {% else %}
                                            <li><a href="{% url 'register' %}">Регистрация</a></li>
                                            <li><a href="{% url 'login' %}">Вход</a></li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

{% block content %}
{% endblock %}

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="footer-text">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="ft-about">
                            <div class="logo">
                                <a href="{% url 'home' %}">
                                    <img src="{% static 'booking/images/logo2.png' %}" alt="">
                                </a>
                            </div>
                            <p>Занимайтесь теннисом вместе с нами</p>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-contact">
                            <h6>Контакты</h6>
                            <ul>
                                <li>+7 (913) 145 8642</li>
                                <li> contacts@mail.com</li>
                                <li>ул. 4-я Северная, 4, Омск</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-newslatter">
                            <h6>Новости</h6>
                            <p>Получайте новые предложения.</p>
                            <form action="#" class="fn-form">
                                <input type="text" placeholder="Email">
                                <button type="submit"><i class="fa fa-send"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script src="{% static 'booking/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'booking/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'booking/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'booking/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'booking/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'booking/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'booking/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'booking/js/main.js' %}"></script>
</body>

</html>