{% extends 'booking/base.html' %}
{% load static %}


{% block content %}

    <!-- Breadcrumb Section Begin -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>Наши корты</h2>
                        <div class="bt-option">
                            <a href="{% url 'home' %}">Главная</a>
                            <span>Забронировать</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

    <!-- Rooms Section Begin -->
    <div style="text-align: center; min-height: 40%">
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="submit" value="Выбрать">
        </form>
        <table border="1" style="display: inline-block;">
            <tr>
                <td>Время</td>
                <td>9:00-10:00</td>
                <td>10:00-11:00</td>
                <td>11:00-12:00</td>
                <td>12:00-13:00</td>
                <td>13:00-14:00</td>
                <td>14:00-15:00</td>
                <td>15:00-16:00</td>
                <td>16:00-17:00</td>
                <td>17:00-18:00</td>
                <td>18:00-19:00</td>
                <td>19:00-20:00</td>
            </tr>
            <tr>
                <td>Корт №1</td>
                {% for c in times1 %}
                    {% if c.is_free == True %}
                        <td><a  class="active" href="{{ c.get_absolute_url }}">{{ c.price }} ₽</a></td>
                    {% else %}
                        <td>{{ c.price }} ₽</td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td>Корт №2</td>
                {% for c in times2 %}
                    {% if c.is_free == True %}
                        <td><a  class="active" href="{{ c.get_absolute_url }}">{{ c.price }} ₽</a></td>
                    {% else %}
                        <td>{{ c.price }} ₽</td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td>Корт №3</td>
                {% for c in times3 %}
                    {% if c.is_free == True %}
                        <td><a  class="active" href="{{ c.get_absolute_url }}">{{ c.price }} ₽</a></td>
                    {% else %}
                        <td>{{ c.price }} ₽</td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td>Корт №4</td>
                {% for c in times4 %}
                    {% if c.is_free == True %}
                        <td><a  class="active" href="{{ c.get_absolute_url }}">{{ c.price }} ₽</a></td>
                    {% else %}
                        <td>{{ c.price }} ₽</td>
                    {% endif %}
                {% endfor %}
            </tr>
        </table>
    </div>
    <!-- Rooms Section End -->
{% endblock %}