{% extends 'booking/base.html' %}

{% block content %}
<h2>Отмена бронирования</h2>
<div  style="min-height: 60%;">
  <form method="POST">
    {% csrf_token %}
    <p>Вы уверены что хотите отменить бронирование № "{{book.pk}}"?</p>
    <div>
      <button type="submit">Да, отменить</button>
      <a href="{% url 'home' %}">Отмена</a>
    </div>
  </form>
</div>

{% endblock content %}