{% extends 'booking/base.html' %}
{% load static %}


{% block content %}

    <!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact-text">
                        <h2>Контактная информация</h2>
                        <p>Если у вас возникли какие-то проблемы или есть предложения, то можете написать нам или связаться по телефону.</p>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="c-o">Адрес:</td>
                                    <td>ул. 4-я Северная, 4, Омск</td>
                                </tr>
                                <tr>
                                    <td class="c-o">Телефон:</td>
                                    <td>+7 (913) 145 8642</td>
                                </tr>
                                <tr>
                                    <td class="c-o">Email:</td>
                                    <td>contacts@mail.com</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-7 offset-lg-1">
                    <form action="#" class="contact-form" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6">
                                {{ form.name }}
                            </div>
                            <div class="col-lg-6">
                                {{ form.user_email }}
                            </div>
                            <div class="col-lg-12">
                                {{ form.message }}
                                <button type="submit">Отправить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d962.0707078590044!2d73.34975278576945!3d55.00461246893275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43aafe281b6c185b%3A0x73463ef7fdb5faa7!2z0JTQuNGA0LjQttCw0LHQu9GM!5e0!3m2!1sru!2sru!4v1681376896225!5m2!1sru!2sru"
                    height="470" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->
{% endblock %}