{% extends 'booking/base.html' %}
{% load static %}


{% block content %}

    <!-- Breadcrumb Section Begin -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>Подтвержение бронирования</h2>
                        <div class="bt-option">
                            <a href="{% url 'booking' date=time %}">Забронировать</a>
                            <span>Подтверждение бронирования</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

    <!-- Room Details Section Begin -->
    <section class="room-details-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="room-details-item">
                        <div class="map">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d962.0707078590044!2d73.34975278576945!3d55.00461246893275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43aafe281b6c185b%3A0x73463ef7fdb5faa7!2z0JTQuNGA0LjQttCw0LHQu9GM!5e0!3m2!1sru!2sru!4v1681376896225!5m2!1sru!2sru"
                                height="470" style="border:0;" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="room-booking">
                        <h3>Ваше бронирование</h3>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="r-o">Цена за час:</td>
                                    <td>{{ times.price }} ₽</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Ракетки в аренду:</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="price_change">
                            <div class="quantity_inner">
                                <button class="bt_minus">
                                    <svg viewBox="0 0 24 24"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                </button>
                                <input type="text" value="0" size="2" class="quantity" data-max-count="4" />
                                <button class="bt_plus">
                                    <svg viewBox="0 0 24 24"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                </button>
                                <input style="border: 0px;" readonly="readonly" type="text" value="0" size="2" class="pricess" data-max-count="800" />
                                <p class="pricess">₽</p>
                            </div>
                        </div>
                        <p>Корзина мячей:</p>
                        <label class="checkbox-ios">
                            <input type="checkbox">
                            <span class="checkbox-ios-switch"></span>
                        </label>
                        <input style="border: 0px;" readonly="readonly" type="text" value="0" size="2" class="price_bag" id="price_bag" data-max-count="200" />
                            <form method="post" action="">
                                {% csrf_token %}
                                <select name="coach">
                                    <option value="0">Выберите тренера</option>
                                    {% for ch in coach %}
                                    <option value="{{ ch.id }}">{{ ch.coaches.surname }} {{ ch.coaches.name }}: {{ ch.price }}</option>
                                    {% endfor %}
                                </select>
                                <br clear="all" />
                                <p>Итоговая стоимость</p>
                                <input style="border: 0px; width: 80px;" readonly="readonly" type="text" value="{{ times.price }}" size="2" class="final_price" name="final_price" />
                                <button class="button-booking" style="background: #dfa974; color: #ffffff;" name="applybtn">Забронировать</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Room Details Section End -->

{% endblock %}