{% extends 'booking/base.html' %}
{% load static %}


{% block content %}
    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="hero-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="{% static 'booking/images/hero/home-1.jpg' %}"></div>
            <div class="hs-item set-bg" data-setbg="{% static 'booking/images/hero/home-2.jpeg' %}"></div>
            <div class="hs-item set-bg" data-setbg="{% static 'booking/images/hero/home-3.jpg' %}"></div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- About Us Section Begin -->
    <section class="aboutus-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-text">
                        <div class="section-title">
                            <span>О нас</span>
                            <h2>Теннисный комплект <br />Дирижабль</h2>
                        </div>
                        <p class="f-para">Дирижабль является одним из лучших теннисных комплексов в Омске. Мы предоставляем нашим клиентам заниматься теннисом каждый день, а так же учавствовать в соревнованиях.</p>
                        <p class="s-para">Поэтому если вы все еще думаете где заняться теннисом в Омске, то приходите к нам и наслаждайтесь нашими услугами.</p>
                        <a href="{% url 'about' %}" class="primary-btn about-btn">Читать еще</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-pic">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="{% static 'booking/images/about/about-3.jpg' %}" alt="">
                            </div>
                            <div class="col-sm-6">
                                <img src="{% static 'booking/images/about/about-4.jpg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us Section End -->

    <!-- Services Section End -->
    <section class="services-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Что ты предлагаем</span>
                        <h2>Откройте для себя наши услуги</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-047-calendar"></i>
                        <h4>Аренда кортов</h4>
                        <p>Вы можете арендовать корта в любое удобное для вас время.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-036-parking"></i>
                        <h4>Бесплатная парковка</h4>
                        <p>На територии нашего комплекса присутсвие паркова для посетителей.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-004-fridge"></i>
                        <h4>Напитки</h4>
                        <p>Вы можете приобрести охладительные напитки на стойке у администратора.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-024-towel"></i>
                        <h4>Душевая и хамам</h4>
                        <p>В раздевалеке вы также можете воспользоваться душем и хамамов.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-044-clock-1"></i>
                        <h4>Постоянные мероприятия</h4>
                        <p>У нас проходят множество соревнований и мастерклассов.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-012-cocktail"></i>
                        <h4>Wi-Fi</h4>
                        <p>Возможность воспользоваться бесплатным Wi-Fi на всей территории нашего комплекса.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->

    <!-- Testimonial Section Begin -->
    <section class="testimonial-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Отзывы</span>
                        <h2>Что говорят наши клиенты</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="testimonial-slider owl-carousel">
                        {% for r in reviews %}
                        <div class="ts-item">
                            <p>{{ r.comment }}</p>
                            <div class="ti-author">
                                <div class="rating">
                                    {% for i in r.stars_count|get_range %}
                                    <i class="icon_star"></i>
                                    {% endfor %}
                                    {% for i in r.stars_count|get_minus_range %}
                                    <i class="icon_star_alt"></i>
                                    {% endfor %}
                                </div>
                                <h5> - {{ r.reviewers_name }} </h5>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Section End -->

    <!-- Blog Section Begin -->
    <section class="blog-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Новости</span>
                        <h2>Наши события</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="blog-item set-bg" data-setbg="{% static 'booking/images/blog/blog-24.jpg' %}">
                        <div class="bi-text">
                            <span class="b-tag">Соревнования</span>
                            <h4><a href="#">Мужской турнир</a></h4>
                            <div class="b-time"><i class="icon_clock_alt"></i> 16 Июня, 2023</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog-item set-bg" data-setbg="{% static 'booking/images/blog/blog-23.jpg' %}">
                        <div class="bi-text">
                            <span class="b-tag">Соревнования</span>
                            <h4><a href="#">Женский турнир</a></h4>
                            <div class="b-time"><i class="icon_clock_alt"></i> 18 Июля, 2023</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog-item set-bg" data-setbg="{% static 'booking/images/blog/blog-21.jpg' %}">
                        <div class="bi-text">
                            <span class="b-tag">События</span>
                            <h4><a href="#">Мастер класс от Даниила Медведева</a></h4>
                            <div class="b-time"><i class="icon_clock_alt"></i> 21th April, 2019</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="blog-item small-size set-bg" data-setbg="{% static 'booking/images/blog/blog-22.jpg' %}">
                        <div class="bi-text">
                            <span class="b-tag">Соревнования</span>
                            <h4><a href="#">Парный турнир</a></h4>
                            <div class="b-time"><i class="icon_clock_alt"></i> 25 Июня, 2023</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->
{% endblock %}