{% extends 'booking/base.html' %}

{% block content %}


{% csrf_token %}
<div class="media">
    <div class="media-body">
        <h2 class="account-heading">{{ form.instance.username }}</h2>
        <p class="account-text">{{ form.instance.email }}</p>
        {% for usbook in user_booking %}
            <ul class="profile-menu">
                <li><span>Номер бронирования</span><em>{{ usbook.pk }}</em></li>
                <li><span>День бронирования</span><em>{{ usbook.days }}</em></li>
                <li><span>Время бронирования</span><em>{{ usbook.booking_time }}</em></li>
                <li><span>Стоимость бронирования</span><em>{{ usbook.booking_price }}</em></li>
                <li><span>Статус заказа</span>{% if usbook.is_paid == True %}<em>Заказ оплачен</em>{% else %}<em>Заказ не оплачен</em>{% endif %}</li>
                <li><span>Услуги тренера</span>{% if usbook.selected_coach == None %}<em>Не нужны</em>{% else %}<em>Включены</em>{% endif %}</li>
                {% if usbook.is_paid == False %}
                <form method="post">
                    {% csrf_token %}
                    <button class="button-booking" style="border: 0; border-radius: 5px;" name="applybtn">Оплатить</button>
                </form>
                {% else %}
                {% endif %}
                <p><a href="{% url 'post-delete' usbook.pk %}">Отменить бронирование</a></p>
            </ul>
        {% endfor %}
    </div>
</div>

{% endblock %}