{% extends 'booking/base.html' %}

{% block content %}

<form method="post">
    {% csrf_token %}

{% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
{% endfor %}

    <button type="submit">Registr</button>
</form>

{% endblock %}